* {
    box-sizing: border-box;
}

body {
    background-size: cover;
    background: #fbd3cb;}

.main {
    font-family: "Poppins", "Helvetica", sans-serif;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding: 2%;
    max-width: 80%;
    margin: 1% auto;
    background: whitesmoke;
    border-radius: 5px;
}

.icons {
    font-size: x-large;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 2%;
    flex-direction: row;
}

.icon {
    color: black;
}